<!DOCTYPE html>
<html>
<head>
    <title>Other Options</title>
</head>
<h1><a href=/>Click here to go back to Interactive Map</a></h1>
<body>
    <h1>Other Options</h1>
    <br>
    <h2><u>Get Additional details of specific crime</u></h2>
    <form method="POST" action="/get_specific_crime">
        <label for="crime_id">Crime ID:</label>
        <input type="number" id="crime_id" name="crime_id" required>
        <br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <br>
    <h2>Adjust Tables</h2>
    <a href=/adjust_crime style="display:inline-block">Crime</a>
    <a href=/adjust_crimecase style="display:inline-block">CrimeCase</a>
    <a href=/adjust_location style="display:inline-block">Location</a>
    <a href=/adjust_beat style="display:inline-block">Beat</a>
    <a href=/adjust_isincase style="display:inline-block">IsInCase</a>
</body>
</html>